html {
    scroll-behavior: smooth;
    min-height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    margin-bottom: 350px;
}

h1 { font-size: 66px; font-weight: 700; line-height: 80px; }
h2 { font-size: 48px; margin-bottom: 30px; }
h3 { font-size: 33px; }
h5 { margin-bottom: 0px; }

p {
    font-size: 18px;
    color: black;
    line-height: 1.8;
    margin-bottom: 0px;
}

a:hover { text-decoration: none; }

.margin-left{
    margin-left: 2px;
}

.btn {
    font-size: 14px;
    padding: 10px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

section { padding: 120px 0; }

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
}

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}

ion-icon{
    font-size: 40px;
    outline: none;  /*Desaparece bordeado al pulsar*/
}

/* //////////////
   Hero
//////////////*/

#hero {
    background-image: url(../img/heroBackground.jpg);
    background-size: cover; /*Hace más grande la imagen sin que se estire*/
    padding-top: 70px;
    min-height: 700px;
    color: #ffffff;
}

#hero p {
    color: #ffffff;
}


.restaurantes-cercanos-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.restaurantes-cercanos-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    height: 330px;
    width: 800px;
}

.restaurantes-cercanos-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.restaurantes-cercanos-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.restaurantes-cercanos-details h2 {
    margin-bottom: 0px;
}

footer {
    padding: 80px;
    text-align: center;
    color: black;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
    background-color: white;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

.carrito {
    color: red;
}

/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) {
    h1 { font-size: 40px; line-height: normal; }
    .restaurantes-cercanos-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }

    .footer-menu {
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;

    }
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) {
    .restaurantes-cercanos-details h2 { font-size: 30px; }
    .plans { min-width: unset; padding: 40px 20px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }


#hover{
    color: white;
}
#hover:hover{
    color: black;
    background-color: white;
}

#categorias{
    color: black;
}

#categorias:hover{
    color: white;
    background-color: #343a40;
}